.home-Body {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-Cover {
  height: 40vh;
  width: 95vw;
  margin-top: 8px;
}

.three-articles-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70vh;
}
.four-articles-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  height: 70vh;
  width: 80vw;
  justify-content: space-between;
}
article {
  width: 30vw;
  padding: 15vh 2px 0 2px;
}

.articleContainerFourArticles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.articleContainerFourArticles p{
    font-size: 30px;
}

.buttonsHome {
  width: 25vw;
  height: 5vh;
  background-color: #ea8000;
  color: black;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

article h3 {
  padding: 0 10px 0 10px;
}

.purple {
  background-color: #df00a9 !important;
}
