.header-body {
  height: 12vh;
  color: white;
  background-color: #221f1f;
}

.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-row-container {
  display: flex;
  justify-content: space-around;
  padding: 0 10em;
  gap: 4.5rem;
}

.logo-title-header {
}

.buttonIcon-header {
  gap: 10px;
  display: flex;
  height: fit-content;
  margin-top: 3vh;
  background-color: #221f1f;
  color: white;
  border: none;
  cursor: pointer;
}

.input-header {
  margin-top: 10px;
  width: 40vw;
  height: 3vh;
  background-color: #f5f5f1;
  color: #414141;
}

.second-row-container {
  padding: 0 10em;
  margin-top: 1vh;
}
