.header-body {
  height: 15vh;
  background-color: tomato;
}

.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3rem 0 3rem;
  max-width: 100%;
  min-width: 100vw;
}

.first-row-container {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
}

.logo-title-header {
}

.buttonIcon-header {
  gap: 10px;
  display: flex;
  height: fit-content;
  margin-top: 3vh;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.input-header {
  margin-top: 10px;
  width: 43vw;
  height: 8vh;
  background-color: white;
  color: rgb(65, 65, 65);
}
